<web-app>
<servlet>
  <servlet-name>process</servlet-name>
  <servlet-class>com.nt.servlet.LinksServlet</servlet-class>
</servlet>
 <servlet-mapping>
   <servlet-name>process</servlet-name>
   <url-pattern>/processurl</url-pattern>
 
 </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  </web-app>
   
  
  
  
  
  
  
  
 