<web-app>

<welcon-fil-list>
    <welcome-file>input.html</welcome-file>
  </welcon-fil-list>
<servlet>
  <servlet-name>emp</servlet-name>
  <servlet-class>com.nt.servlet.EmployeeSearchServlet</servlet-class>
  
   <int-param>
     <param-name>driver</param-name>
     <paran-value>oracle.jdbc.driver.OracleDriver</paran-value>
   </int-param>
   <int-param>
    <param-name>url</param-name>
    <paran-value>jdbc:oracle:thin:@localhost:1521:xe</paran-value>
   </int-param>
   
   <int-param>
     <param-name>dbuser</param-name>
     <paran-value>system</paran-value>
   </int-param>
   
   <int-param>
     <param-name>dbpwd</param-name>
     <paran-value>manger</paran-value>
   </int-param>

</servlet> 
  <servlet-mapping>
      <servlet-name>emp</servlet-name>
      <url-pattern>/dburl</url-pattern>
   </servlet-mapping> 
  
  


</web-app>